body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*Header*/
.header {
  width: 100%;
  height: 150px;
  border-bottom: 4px solid #C2AE52;
  border-top: 4px solid #C2AE52;
  background-color: #0C0661;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*position: fixed;*/
}
.header a {
  color: #f2f2f2;
  font-family: "Times New Roman", serif;
  font-size: 80px;
  text-shadow: 2px 2px 4px black;
  text-decoration: none;
}
h1 span {
  font-size: 28px;
}
/*Nav*/
.nav {
  width: 600px;
}
.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.nav a {
  padding-left: 15px;
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  text-shadow: 1px 1px 2px black;
}
.nav a:hover {
  color: gray;
}
/*Home*/
#home {
  width: 100%;
  height: auto;
}
/*BackgroundPhoto*/
.background-photo {
  width: 100%;
  height: auto;
}
.background-photo img {
  width: 100%;
  height: 600px;
}
/*Contact Us */
.contact-us {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-button {
  width: 140px;
  height: 45px;
  z-index: 999;
  position: absolute;
  margin-top: -480px;
  border: 3px solid #000000;
  background-color: inherit;
}
.contact-button:hover {
  border: 3px solid #0C0661;
}
.contact-button a {
  color: black;
  font-size: 15px;
  font-weight: bold;
}
/*Testimonials*/
.testimonial-background {
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 35px;
  background-color: #faf8f6;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}
.testimonial-container {
  text-align: center;
  margin-top: 2%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #200000;
  line-height: 1.4em;
  text-shadow: 1px 1px 2px #d8d8d8;
}
.single-testimonial {
  margin-left: 25px;
  margin-right: 25px;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  border-radius: 5px;
  padding: 6px;
}
.single-testimonial h5 {
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 14px;
  color: #180000;
  text-shadow: 2px 2px 4px lightgray;
}
/*PracticeAreas*/
#practice-areas {
  width: 100%;
  height: auto;
  background-color: #e9f1f7;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  padding-top: 50px;
}
.blue-box {
  height: auto;
  padding-bottom: 30px;
  padding-top: 10px;
  text-align: center;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  color: #002D5C;
}
h2 span {
  font-weight: 600;
}
h6 {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  color: #002D5C;
}
.blue-box img {
  margin-top: 50px;
  width: 250px;
}
.beige-box {
  column-gap: 30px;
  height: auto;
  padding-bottom: 30px;
  padding-top: 20px;
  background-color: #faf8f6;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.description {
  width: 340px;
  height: auto;
  padding: 10px;
}
h5 {
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  color: #002D5C;
}
.description p {
  font-size: 17px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  line-height: 1.4em;
}

#practice-areas .testimonial {
  background-color: #e9f1f7;
  padding: 10px;
  border-radius: 5px;
}

#practice-areas .testimonial > p {
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}
/*Our Firm*/
#our-firm {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background-color: #faf8f6;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}
.about-us {
  background-color: #0C0661;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  height: auto;
  margin-left: 16%;
  margin-right: 15%;
  border: 1px solid #C2AE52;
  border-radius: 4px;
}
.section-title {
  width: 100%;
  height: 50px;
  background-color: #0c0661;
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
  text-align: center;
  border-bottom: 3px solid #C2AE52;
  border-top: 3px solid #C2AE52;
  margin-top: 4px;
}
.section-title h4 {
  padding-top: 6px;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: #f2f2f2;
  text-shadow: 2px 2px 4px black;
}
.section-firm p {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #f2f2f2;
  padding: 15px;
  line-height: 1.5em;
  text-shadow: 2px 2px 4px black;
}
/*Our Attorneys*/
#our-attorneys {
  width: 100%;
  height: auto;
  background-color: #e9f1f7;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  margin-top: -20px;
  padding-bottom: 50px;
}
.attorney-title {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.attorney-info {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}
.info {
  width: 280px;
  height: auto;
  padding-bottom: 30px;
  text-align: center;
  background-color: /*#faf8f6;*/ #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  padding: 10px;
  margin-top: 20px;
}
.info img {
  width: 250px;
  height: 250px;
  border-radius: 3px;
}
.info hr {
  background-color: gray;
  width: 200px;
  height: 1px;
  margin-top: 0rem;
}
.info h4 {
  font-weight: bold;
  font-size: 20px;
}
.info h6 {
  font-weight: bold;
  font-size: 16px;
}
.info p {
  font-weight: bold;
}
.info button {
  padding: 2px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 3px;
}
.info button a {
  color: #0C0661;
  font-size: 15px;
  font-weight: bold;
}
.info button:hover {
  background-color: #d4d4d4;
}
/*Contact*/
#contact {
  width: 100%;
  height: auto;
  border-bottom: 10px solid #C2AE52;
  background-color: #faf8f6;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}
.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  /*margin-left: 5%;*/
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}
/*Footer*/
.footer {
  width: 100%;
  height: 150px;
  background-color: #0C0661;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.copy {
  color: lightgray;
}
/*Bios*/
.bio-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 50px;
  /*background-color: #dcdcdc;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");*/
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  border-bottom: 10px solid #C2AE52;
}
.bio-header {
  display: flex;
  margin-bottom: 30px;
  margin-top: 50px;
}
.bio-header .name {
  background-color: #e9f1f7;
  background-image: url(https://www.transparenttextures.com/patterns/beige-paper.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 285px;
}
.bio-header img {
  width: 250px;
  height: 250px;
}
.bio-header .bio-contact {
  background-color: #e9f1f7;
  background-image: url(https://www.transparenttextures.com/patterns/beige-paper.png);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 285px;
}
.bio-contact h6 {
  text-align: center;
  font-weight: bold;
  font-style: normal;
}

.bio {
  width: 700px;
  height: fit-content;
  padding: 20px;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  border-radius: 4px;
  box-shadow: inset 0 0 10px #000000;
}
.bio-container {
  padding: 25px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  column-gap: 25px;
}
.edu-info {
  width: 300px;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  float: right;
  border-radius: 4px;
  box-shadow: inset 0 0 10px #000000;
}
.edu-info h6 {
  text-align: center;
  font-weight: bold;
  font-style: normal;
}
.edu-info p {
  font-family: "Raleway", sans-serif;
}
.bio p {
  line-height: 1.5em;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
/*Links*/
.links {
  border-bottom: 10px solid #C2AE52;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}
.links h2 {
  margin-top: 20px;
  text-align: center;
}
.link-info {
  width: 100%;
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.link-info div {
  width: 480px;
  margin: 10px;
}
.link-info p {
  font-family: "Raleway", sans-serif;
}
@media only screen and (max-width: 991px) {
  /*PracticeAreas*/
  .blue-box {
    height: 100px;
  }
  h2 {
    font-size: 26px;
  }
  /*OurFirm*/
  .about-us {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 946px) {
  h1 {
    font-size: 70px;
  }
  h1 span {
    font-size: 20px;
  }
  .nav a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 850px) {
  h1 {
    font-size: 55px;
  }
  .nav {
    width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  .cta{
    margin-left: 1%;
  }
}
@media only screen and (max-width: 710px) {
  h1 {
    display: none;
  }
  header {
    height: 100px;
  }
}
@media only screen and (max-width: 550px) {
  .section-title h4 {
    font-size: 20px;
  }
  .section-firm p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 500px) {
  /*Nav*/
  .nav a {
    font-size: 11px;
    margin-left: 10px;
  }
  /*BackgroundPhoto*/
  .background-photo img {
    height: 400px;
  }
}
@media only screen and (max-width: 430px) {
  .section-title h4 {
    font-size: 18px;
  }
}
